* {
  margin: 0;

  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;

}

.navbar {
  width: 100%;
  height: 50px;
  background-color: black;
  position: relative;
  top: 0;
}

.navbar-container {
  display: flex;
  align-items: center;
  padding: 0 50px;
  height: 100%;
  color: white;
  font-family: "Sen", sans-serif;
}

.logo-container {
  flex: 1;
}

.logo {
  font-size: 30px;
  color: brown;
}

.menu-container {
  flex: 6;
}

.menu-list {
  display: flex;
  list-style: none;
}

.menu-list-item {
  margin-right: 30px;
}

.menu-list-item.active {
  font-weight: bold;
}

.list {
  z-index: 9999;
  /* Or any sufficiently high value */
}

/*each menu linking page word category*/
.navbar .navbar-container .menu-container li:nth-child(4) {
  color: rgb(255, 255, 255, .7);
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  transition: .3s linear;
  cursor: pointer;

}

.navbar .navbar-container .menu-container .menu-container ul li:nth-child(4):hover {
  color: #fff;
  border: 1px solid pink;
}

.navbar .navbar-container .menu-container ul li a {
  color: #fff;
  text-decoration: none;
}

.navbar .navbar-container .menu-container ul li a:hover {
  color: brown;
  text-decoration: none;
}

/*category dropdown arrow*/
.navbar .navbar-container .menu-container ul li:nth-child(4) .fas {
  font-size: 12px;
  margin: 2px 0px 0px 3px;
  transition: .3s linear;
  border: 1px solid #fff;
}

/*category dropdown arrow rotate when pointer*/
.navbar .navbar-container .menu-container ul li:nth-child(4):hover .fas {
  transform: rotate(180deg);
}

/* nav other list start  */

.navbar .navbar-container .menu-container ul li .list {
  position: absolute;
  width: 150px;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  top: 60px;
  z-index: 9999;
  padding: 10px;
  opacity: 0;
  visibility: hidden;
}

.navbar .navbar-container .menu-container ul li:hover .list {
  opacity: 1;
  visibility: visible;
}

.navbar .navbar-container .menu-container ul li .list::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: rgb(184, 184, 184, .1); */
  background: rgb(206, 94, 94);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  z-index: -1;
}

.navbar .navbar-container .menu-container ul li .list::after {
  content: '';
  position: absolute;
  border-left: 15px solid rgb(184, 184, 184, .1);
  background: rgb(206, 94, 94);
  border-right: 15px solid transparent;
  border-bottom: 15px solid transparent;
  backdrop-filter: blur(5px);
  top: -1px;
  left: 20px;
  transform: rotate(45deg);
  z-index: -1;
}

.navbar .navbar-container .menu-container ul li .list a {
  text-decoration: none;
  color: rgb(255, 255, 255, .7);
  padding: 10px 0px 10px 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  transition: .3s linear;
}

.navbar .navbar-container .menu-container ul li .list a:hover {
  color: black;
}


/* nav other list end  */

.profile-container {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile-text-container {
  margin: 0 20px;
  text-decoration: none;
}

.profile-text-container span a {
  color: brown;
  text-decoration: none;
}

.profile-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.toggle {
  width: 40px;
  height: 20px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.toggle-icon {
  color: goldenrod;
}

.toggle-ball {
  width: 18px;
  height: 18px;
  background-color: black;
  position: absolute;
  right: 1px;
  border-radius: 50%;
  cursor: pointer;
  transition: 1s ease all;
}

/*whole page except nav*/
.container {
  background-color: #151515;
  min-height: calc(100vh - 50px);
  color: white;
}

/*slider part*/
header {
  position: relative;
  height: 500px;
  padding: 50px;
  transition: 1s linear;
  z-index: 2;
  max-height: 500px;
  /* border: 1px solid pink; */
}

header::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 40%;
  background: linear-gradient(0deg, rgb(17, 16, 16), transparent);
  bottom: 0;
  left: 0;
  z-index: -1;
}

header::after {
  content: '';
  position: absolute;
  width: 30%;
  height: 100%;
  background: linear-gradient(90deg, rgb(17, 16, 16), transparent);
  top: 0;
  left: 0;
  z-index: -1;
}

/*word of each movie*/
header .movie-content {
  width: 77%;
  height: auto;
  /* border: 1px solid #fff; */
  margin: 50px 300px 0px auto;
}

/*movie duration row*/
header .movie-content h6 {
  color: #fff;
  font-size: 13px;
  transition: 1s linear;
  /* border: 1px solid #fff; */
}

/*movie duration time*/
header .movie-content h6 span {
  color: rgb(255, 255, 255, .8);
  /* border: 1px solid #fff; */
}

/*movie rating row*/
header .movie-content h3 {
  color: rgb(255, 255, 255, .8);
  font-size: 18px;
  margin: 10px 0px;
  transition: 1s linear;
  /* border: 1px solid #fff; */
}

/*movie rating star*/
header .movie-content h3 i {
  color: orange;
  font-size: 18px;
  margin-right: 3px;
  /* border: 1px solid #fff; */
}

/*movie type*/
header .movie-content h3 span {
  font-size: 18px;
  margin-left: 3px;
  transition: 1s linear;
  /* border: 1px solid #fff; */
}

/*movie title row*/
header .movie-content h1 {
  font-size: 45px;
  margin-bottom: 10px;
  color: #fff;
  transition: 1s linear;
  /* border: 1px solid #fff; */
}

/*movie desc*/
header .movie-content p {
  width: 600px;
  word-break: break-all;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 20px;
  transition: 1s linear;
  /* border: 1px solid #fff; */
}

/*movie button row*/
header .movie-content .btns {
  display: flex;
  align-items: center;
  /* border: 1px solid #fff; */
}

/*watch button*/
header .movie-content .btns button {
  padding: 6px 12px;
  border-radius: 20px;
  background: brown;
  border: 2px solid brown;
  color: #fff;
  margin-right: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 500;
  box-shadow: 0px 3px 10px brown;
  transition: .3s linear;
  cursor: pointer;
  z-index: 999;
}

/*addlist button*/
header .movie-content .btns button:nth-child(2) {
  border: 2px solid #000;
  color: #fff;
  background: #000;
  box-shadow: 0px 3px 10px #000;
}

/*watch button pointer*/
header .movie-content .btns button:hover {
  border: 2px solid #000;
  color: #fff;
  background: #000;
  box-shadow: 0px 3px 10px #000;
}

/*addlist button pointer*/
header .movie-content .btns button:nth-child(2):hover {
  background: brown;
  border: 2px solid brown;
  color: #fff;
  box-shadow: 0px 3px 10px brown;
}

/*movie each button logo*/
header .movie-content .btns button .fas {
  margin-right: 5px;
  /* border: 1px solid #fff; */
}

/*slider botton row*/
header .slider_btns {
  position: absolute;
  width: 300px;
  height: 50px;
  top: 530;
  left: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #fff; */
}

/*slider all botton*/
header .slider_btns h6 {
  width: 30px;
  height: 3px;
  margin-right: 5px;
  transition: 1s linear;
  background: rgb(184, 184, 184, .1);
  /* border: 1px solid #fff; */
}

/*slider first botton*/
header .slider_btns h6:nth-child(1) {
  background: #fff;
  /* border: 1px solid #fff; */
}

/* video box start  */

.video_bx {
  position: relative;
  width: 90%;
  height: 600px;
  /* border: 1px solid #fff; */
  margin: auto;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video_bx video {
  width: 100%;
  height: 100%;
  background: #000;
  border-radius: 20px;
}

.video_bx .control {
  position: absolute;
  width: 90%;
  height: 40px;
  background: #131312;
  /* border: 1px solid #fff; */
  border-radius: 20px;
  bottom: 10px;
  padding: 0px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
}

.video_bx .control .play_redo {
  position: relative;
  width: 60px;
  height: 100%;
  /* border: 1px solid #fff; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.video_bx .control .play_redo .bi {
  font-size: 22px;
  cursor: pointer;
  /* border: 1px solid #fff; */
}

.video_bx .control .play_redo .bi:nth-child(2) {
  transform: scaleX(-1);
}

.video_bx .control .play_redo span {
  position: absolute;
  color: #fff;
  font-size: 7px;
  top: 14px;
  right: 8px;
  z-index: -1;
  /* border: 1px solid #fff; */
}

.video_bx .control .start_seekbar_end {
  width: 85%;
  height: 100%;
  /* border: 1px solid #fff; */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s linear;
}

.video_bx .control .start_seekbar_end span {
  color: rgb(255, 255, 255, .7);
  font-size: 13px;
  margin: 0px 10px;
  width: 55px;
  text-align: center;
}

.video_bx .control .start_seekbar_end .seek {
  position: relative;
  width: 85%;
  /* border: 1px solid #fff; */
}

.video_bx .control .start_seekbar_end .seek input {
  width: 100%;
  margin-top: 7px;
  cursor: pointer;
  opacity: 0;
  /* border: 1px solid #fff; */
}

.video_bx .control .start_seekbar_end .seek h5 {
  position: absolute;
  width: 50%;
  height: 8px;
  background: red;
  border-radius: 20px;
  top: 11px;
  transition: 1s linear;
  z-index: -1;
  /* border: 1px solid #fff; */
}

.video_bx .control .start_seekbar_end .seek h4 {
  position: absolute;
  width: 100%;
  height: 8px;
  background: rgb(184, 184, 184, .2);
  border-radius: 20px;
  top: 11px;
  transition: 1s linear;
  z-index: -1;
  /* border: 1px solid #fff; */
}

.video_bx .control .start_seekbar_end .seek h6 {
  position: absolute;
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  top: 11px;
  transition: 1s linear;
  z-index: -1;
  margin-left: -5px;
  top: 8.5px;
  left: 50%;
  /* border: 1px solid red; */
}

.video_bx .control .cc_vol_screen {
  position: relative;
  width: 100px;
  height: 100%;
  /* border: 1px solid #fff; */
  transition: 1s linear;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.video_bx .control .cc_vol_screen .bi {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.video_bx .control .cc_vol_screen .bi:nth-child(4) {
  font-size: 17px;
}

.video_bx .control .cc_vol_screen input {
  width: 0px;
  opacity: 0;
  transition: 1s linear;
}

.video_bx .control .cc_vol_screen input[type="range"] {
  -webkit-appearance: none;
  background: red;
  border-radius: 20px;
  height: 7px;
}

.video_bx .control .cc_vol_screen input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #fff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}


/* javascript classes start  */

.video_bx .control .cc_vol {
  width: 230px;
}

.video_bx .control .cc_vol_screen .input_vol {
  width: 130px;
  opacity: 1;
}

.video_bx .control .start_seekbar {
  width: 70%;
}

/* javascript classes end  */

.video_bx .title_video {
  position: absolute;
  top: 2%;
  left: 2%;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  z-index: 999;
}

.video_bx .watching {
  position: absolute;
  top: 7%;
  left: 2%;
  color: rgb(255, 255, 255, .6);
  font-size: 13px;
  z-index: 999;
}

.video_bx .watching i {
  font-size: 10px;
  margin-right: 3px;
}

.video_bx .heart_pluse {
  position: absolute;
  top: 2%;
  right: 2%;
  color: #fff;
  font-size: 16px;
  z-index: 999;
  cursor: pointer;
}

.video_bx .heart_pluse i:nth-child(2) {
  margin-left: 20px;
}

.video_bx .video_list {
  position: absolute;
  width: 100px;
  height: 300px;
  /* border: 1px solid #fff; */
  top: 25%;
  left: 2%;
  transition: .6s linear;
  opacity: 0;
}

.video_bx:hover .video_list {
  opacity: 1;
}

.video_bx .video_list img {
  width: 100px;
  height: 70px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  border: 1px solid rgb(255, 255, 255, .6);
}

/*movie list row*/
.movie-list-container {
  padding: 0 20px;
  /* border: 1px solid #fff; */
}

.movie-list-title {
  margin-top: 2%;
}

/*movie list container row*/
.movie-list-wrapper {
  position: relative;
  overflow: hidden;
  /* border: 1px solid #fff; */
}

.movie-list {
  display: flex;
  align-items: center;
  height: 300px;
  transform: translateX(0);
  transition: all 1s ease-in-out;
  /* border: 1px solid #fff; */
}

/*each movie box*/
.movie-list-item {
  margin-right: 30px;
  position: relative;
  /* border: 1px solid #fff; */
}

/*each movie box image*/
.movie-list-item:hover .movie-list-item-img {
  transform: scale(1.2);
  margin: 0 30px;
  opacity: 0.5;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button {
  opacity: 1;
}

/*each movie desc container*/
.movie-list-item-img {
  transition: all 1s ease-in-out;
  width: 270px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
  /* border: 1px solid #fff; */
}

/*each movie title*/
.movie-list-item-title {
  background-color: #333;
  padding: 0 10px;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 40px;
  opacity: 0;
  transition: 1s all ease-in-out;
  /* border: 1px solid #fff; */
}

/*each movie desc*/
.movie-list-item-desc {
  background-color: #333;
  padding: 10px;
  font-size: 14px;
  position: absolute;
  top: 30%;
  left: 40px;
  width: 230px;
  opacity: 0;
  transition: 1s all ease-in-out;
  /* border: 1px solid #fff; */
}

.checked {
  color: orange;
}

/*each movie watch button*/
.movie-list-item-button {
  padding: 10px;
  background-color: brown;
  color: white;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 40px;
  opacity: 0;
  transition: 1s all ease-in-out;
  /* border: 1px solid #fff; */
}

/*movie list arrow button*/
.arrow {
  font-size: 120px;
  position: absolute;
  top: 90px;
  right: 0;
  color: lightgray;
  opacity: 0.5;
  cursor: pointer;
  /* border: 1px solid #fff; */
}

.container.active {
  background-color: white;
  color: black;
}

.movie-list-title.active {

  color: black;
}

.navbar-container.active {
  background-color: white;
  color: black;
}

.toggle.active {
  background-color: black;
}

.toggle-ball.active {
  background-color: white;
  transform: translateX(-20px);
}

/* Center website */
.main {
  max-width: 1500px;
  margin: auto;
}

.main h1 {
  font-size: 100px;
  word-break: break-all;
}

.row {
  margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row>.column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none;
  /* Hide all elements by default */
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: black;
  padding: 10px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;

}

.content:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.content .container {
  padding: 2px 16px;
  background-color: white;
  color: #000;
  max-height: 100px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

/*start profile page*/
.profile-page-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100%;
  width: 100%;
  flex-wrap: wrap;
  position: relative;

}

.profile-card {
  background: #111;
  width: 400px;
  padding: 3rem;
  border-radius: 10px;
  min-height: 400px;
  position: relative;
  color: #fff;
  margin: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

}

.profile-card .profile-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

}

/*user name & id*/
.profile-details .intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile-details .intro h2 {
  margin-top: 10px;
}

.profile-details .intro h4 {
  background: goldenrod;
  color: black;
  font-weight: 400;
  border-radius: 4px;
  padding: 5px 10px;
  margin: 8px;
  margin-top: 15px;
}

.profile-details .intro h4 a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.profile-details .contact-info {
  background-color: #1d1d1d;
  padding: 15px;
  border-radius: 10px;
  width: 100%;

}

.profile-details .contact-info .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px 0;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.contact-info .row .icon {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 5px;
  background-color: #111;
  text-align: center;
  color: #fff;
  transition: 0.5s;

}

.row .icon:hover {
  transform: scale(1.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.row .content {
  min-width: 70%;

}

.row .content span {
  font-size: 12px;
}

.signup-btn {
  background: linear-gradient(45deg, rgb(197, 79, 79), brown);
  color: #fff;
  padding: 1rem 3rem;
  border-radius: 30px;
  margin-top: 1.5rem;
  border: none;
}

.signup-btn a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

/*???*/
/* Full-width input fields */
#country,
#gender,
#message,
input[type=text],
input[type=email],
input[type=tel],
input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
#country,
#gender,
#message,
input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Float cancel and signup buttons and add an equal width */
.signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
  min-height: 1000px;
}

/*start new sigin*/

.sigin-container {
  position: absolute;
  margin-left: 36%;
  margin-top: 1%;
  width: 440px;
  height: auto;
  top: 10%;
  background-color: #000;
  /* border: 1px solid lightblue; */
}

.sigin-box {
  padding: 20px 20px 20px;
  top: 30px;
}

.sigin-container h1 {
  color: #fff;
  margin-top: 20px;
  /* margin-left: 0px; */
  text-align: center;
  /* border: 1px solid #fff; */
}

input {
  margin-left: 50px;
  margin-top: 20px;
  width: 320px;
  height: 47px;
  background-color: #333;
  border-radius: 3px;
  border: none;
  font-size: 20px;
}

input::placeholder {
  font-size: 17px;
  margin-left: 15px;
  padding: 12px;
}

input[type=reset],
input[type=submit] {
  width: 30%;
  height: 45px;
  background-color: brown;
  color: #fff;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 40px;
}


input[type=checkbox] {
  width: 25px;
  height: 18px;
  border-radius: 5px;
  margin-left: 0px;
}

label {
  color: rgb(125, 119, 119);
}

.form a {
  float: right;
  margin-top: 24px;
  margin-right: 64px;
  color: rgb(125, 119, 119);
  text-decoration: none;
}

.sigin-content {
  position: absolute;
  margin-top: 80px;
  font-size: 9px;
  margin-left: 55px;
}

.sigin-content h2 {
  color: rgb(125, 119, 119);
}

.sigin-container a {
  color: #fff;
  text-decoration: none;
}

/*end new sigin*/


/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  /* 模糊效果 */
  padding-top: 50px;
  border: 1px solid pink;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 30%;
  /* Could be more or less, depending on screen size */

}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}



/**/
table {
  margin-top: 50px;
  text-align: center;
  background: #333;
  color: #fff;
}

#show th,
#show td {
  padding: 13px;
}

#btna td input {
  width: 100%;
}



/*submission accepted*/
.popup {
  width: 400px;
  background: black;
  border-radius: 6px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px 20px 20px;
  color: green;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.open-popup {
  visibility: visible;
  top: 10%;
  transform: translate(-50%, -50%) scale(1);
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

/*???*/

/*****about section ****/
.about {
  background-color: #111;
  min-width: 1000px;
  min-height: 600px;
  padding: 2rem 3rem;
  border-radius: 10px;
}

.about h1 {
  color: #f2f2f2;
  margin-bottom: 1.1rem;
  position: relative;
  display: inline-block;
  font-size: 3.5rem;
}

.about h1::after {
  position: absolute;
  content: "";
  top: 50%;
  right: -50%;
  width: 45%;
  height: 3px;
  background: linear-gradient(45deg, #f64c57, #e21b5a);
}

.about h2 {
  color: #f2f2f2;
  font-size: 2rem;
  margin: 0.5rem 0;
}

.about p {
  color: #555;
  margin: 1.5rem 0;
}

.about .work {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.work .workbox {
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  border: 1px solid #333;
  padding: 1rem;
  margin: 1rem;

}

.work .workbox .desc {
  width: 75%;
  color: #555;
}

.work .workbox .desc h3 {
  color: #f2f2f2;
  margin-bottom: 3px;
}

.work .workbox .desc p {
  margin: 0px;
}

/***Responsive Design ***/

/*end profile page*/

@media only screen and (max-width: 940px) {
  .menu-container {
    display: none;
  }

  /*profile sign up*/
  .cancelbtn,
  .signupbtn {
    width: 100%;
    max-width: 300px;
  }

  /*profile*/
  .about {
    width: 1005;
    max-width: 400px;
    padding: 1rem;
    margin: 1rem;

  }

  .about h1 {
    font-size: 2.2rem;
  }

  .about .work {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
  }
}